# This is Git's per-user configuration file.

# Per system identity, containing [user] and [gpg] sections.
[include]
	path = .gitidentity

[diff]
	guitool = meld
	colorMoved = zebra
	algorithm = histogram
[difftool]
	prompt = false
	guiDefault = auto
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = trunk
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(auto)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	st = status
[fetch]
	prune = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[rebase]
	autoSquash = true
